.container {
  width: 400px;
  margin: 0 auto;
  padding: 10vh;
  background-color: #95de17;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #111111;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}